<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!-- 过滤器 -->
	<filter>
		<display-name>EcodingFilter</display-name>
		<filter-name>EcodingFilter</filter-name>
		<filter-class>com.myweb.utils.EnCodeFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EcodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 系统首页-->
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<!-- android访问 -->


	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.myweb.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserService</servlet-name>
		<servlet-class>com.myweb.service.UserService</servlet-class>
	</servlet>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>JtcyService</servlet-name>
		<servlet-class>com.myweb.service.JtcyService</servlet-class>
	</servlet>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>NewsTypeService</servlet-name>
		<servlet-class>com.myweb.service.NewsTypeService</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>GoodsService</servlet-name>
		<servlet-class>com.myweb.service.GoodsService</servlet-class>
	</servlet>


	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>BoardServlet</servlet-name>
		<servlet-class>com.myweb.servlet.BoardServlet</servlet-class>
	</servlet>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>BoardService</servlet-name>
		<servlet-class>com.myweb.service.BoardService</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>NewsTypeServlet</servlet-name>
		<servlet-class>com.myweb.servlet.NewsTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.myweb.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>NewsServlet</servlet-name>
		<servlet-class>com.myweb.servlet.NewsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>News1Servlet</servlet-name>
		<servlet-class>com.myweb.servlet.News1Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>News2Servlet</servlet-name>
		<servlet-class>com.myweb.servlet.News2Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.myweb.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>NewsService</servlet-name>
		<servlet-class>com.myweb.service.NewsService</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>News1Service</servlet-name>
		<servlet-class>com.myweb.service.News1Service</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>News2Service</servlet-name>
		<servlet-class>com.myweb.service.News2Service</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SqlService</servlet-name>
		<servlet-class>com.myweb.service.SqlService</servlet-class>
	</servlet>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>GoodsCarService</servlet-name>
		<servlet-class>com.myweb.service.GoodsCarService</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>JtcyServlet</servlet-name>
		<servlet-class>com.myweb.servlet.JtcyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>DanganService</servlet-name>
		<servlet-class>com.myweb.service.DanganService</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>DanganServlet</servlet-name>
		<servlet-class>com.myweb.servlet.DanganServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JtcyService</servlet-name>
		<url-pattern>/JtcyService</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>News2Service</servlet-name>
		<url-pattern>/News2Service</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SqlService</servlet-name>
		<url-pattern>/SqlService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DanganServlet</servlet-name>
		<url-pattern>/DanganServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>

 


	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>News2Servlet</servlet-name>
		<url-pattern>/News2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>



	<!-- android访问 -->


	<servlet-mapping>
		<servlet-name>UserService</servlet-name>
		<url-pattern>/UserService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BoardService</servlet-name>
		<url-pattern>/BoardService</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>NewsService</servlet-name>
		<url-pattern>/NewsService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>JtcyServlet</servlet-name>
		<url-pattern>/JtcyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DanganService</servlet-name>
		<url-pattern>/DanganService</url-pattern>
	</servlet-mapping>


</web-app>
